html {
  background-color: rgb(73, 94, 81);
}

body {
  color: bisque;
}

p, li, div, span, a:link, a:visited {
  font-family: 'VT323', monospace;
  font-size:x-large;
  color:chocolate;
  text-decoration: none;
}



p::before {
  content: ":  ";
}

ul li {
  list-style-type: "\0267C"; /*recycling symbol*/
}

a:hover {
  color: blueviolet;
}

dt::after {
  content: ": ";
}
