// @use a custom module (similar to @layer in vanilla CSS)
// notice module has _name
// @use excludes underscore and extension.
@use 'UCIdentity' as uc;

@mixin title{
  color: black;
}

body {
  padding-bottom: 90px;
}

%headings {
  @include title;
}

h1 {
  @extend %headings;
  letter-spacing: 2px;
}

#splashTitle {
  color: white;
}

nav {
  background-color:uc.$base-color;
}

@media only screen and (min-width: 990px) {
  #subHead {
    background: linear-gradient(45deg, white 30%, uc.$secondary-red 30%, uc.$secondary-red 40%);
  }
}

@media only screen and (max-width: 990px) {
  .card {
    padding-bottom: 20px;
    text-align: justify;
  }
  #offCanvasButton {
    font-size: small;
  }
}

/* Toast */
.toast {
  background-color: uc.$secondary-yellow;
}

/* Off Canvas */
.btn-close {
  align-items: flex-end;
}

#offCanvasButton {
  color: uc.$primary-dark;
  font-weight: 600;
}

.offcanvas-header {
  background-color: uc.$secondary-blue;
}

.offcanvas {
  background-color: uc.$primary-light;
}

.offcanvas-title {
  text-align: center;
}

/* Cards */
.cardBtn {
  background-color: uc.$secondary-blue;
  color: white;
}

.card-body {
  background-color: uc.$primary-light;
}

#map {
  height: 400px;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
}

img {
  max-width: 150px;
}
